.bar-chart-container {
  width: 100%;
  height: auto;
  display: block;
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

rect {
  transition: height 0.8s ease;
}

.bar-rect {
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.bar-rect:hover {
  filter: brightness(1.15) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
  opacity: 0.9;
}
